In [47]:
import pandas as pd

In [48]:
player_box_score_stats = pd.read_excel("data/usports_stats_data.xlsx")
player_box_score_stats

,Player,Season,GP-GS,Mins,MPG,3 Pt_1,3 Pt_2,Field Goals_1,Field Goals_2,Free Throws_1,Free Throws_2,Rebounds_1,Rebounds_2,PF,AS,TO,BL,ST,Points_1,Points_2
0,Khalid Abdel-Gabar,2013-14,27-11,607,22.5,27-75,36.0,91-205,44.4,20-32,62.5,107,4.0,49.0,54.0,36.0,6.0,50.0,229,8.5
1,Khalid Abdel-Gabar,2014-15,30-30,905,30.2,53-163,32.5,146-368,39.7,43-67,64.2,115,3.8,47.0,100.0,60.0,3.0,41.0,388,12.9
2,Khalid Abdel-Gabar,Total,57-41,1512,26.5,80-238,33.6,237-573,41.4,63-99,63.6,222,3.9,96.0,154.0,96.0,9.0,91.0,617,10.8
3,Jamil Abiad,2009-10,23-0,254,11.0,21-61,34.4,32-86,37.2,6-10,60.0,32,1.4,32.0,14.0,31.0,NaN,13.0,91,4.0
4,Jamil Abiad,2012-13,12-0,139,11.6,4-18,22.2,11-33,33.3,3-5,60.0,15,1.2,16.0,7.0,4.0,NaN,5.0,29,2.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3667,Kristian Zjak,2018-19,16-0,141,8.8,0-0,0.0,24-43,55.8,11-22,50.0,40,2.5,16.0,5.0,10.0,4.0,NaN,59,3.7
3668,Kristian Zjak,Total,37-8,465,12.6,0-0,0.0,54-98,55.1,17-40,42.5,133,3.6,59.0,15.0,38.0,17.0,4.0,125,3.4
3669,Jim Zoet,1976-77,33,0,0.0,NaN,NaN,230-472,48.7,85-109,78.0,465,14.1,109.0,NaN,61.0,NaN,NaN,545,16.5
3670,Jim Zoet,1977-78,34,0,0.0,NaN,NaN,314-568,55.3,100-154,64.9,494,14.5,105.0,NaN,95.0,NaN,NaN,728,21.4
3671,Jim Zoet,Total,67,0,0.0,NaN,NaN,544-1040,52.3,185-263,70.3,959,14.3,214.0,NaN,156.0,NaN,NaN,1273,19.0

In [49]:
manually_scraped_player = pd.read_excel("data/players_missing_usports_stats.xlsx")
manually_scraped_player

                          Player
0               Sami Al Uariachi
1                   John Bantock
2                     Cliff Bell
3                Brandon Bilbija
4                Arnar Bjornsson
5                 Nicolas Blanas
6                 Jason J. Brade
7                    Thomas Cory
8                 Whitney Dabney
9         Claude Delmas-Merisier
10             Lawrence Dudevoir
11                 Simon Dykstra
12              Adil El Makssoud
13                 David Elliott
14         Kevin Leander Fiabema
15                 Kirk Francois
16                 Jerome Gaines
17       Atanas (Nasko) Golomeev
18     Daniel Gonzalez Longarela
19            Marc Antoine Horth
20              Terence Hyacinth
21                  Steve Irvine
22    Misi Boye Jeanneau-Mubiala
23                 Omar Jennings
24                 Djordje Jovic
25                     Sean Kask
26             Michael Kelvin II
27                   Real Kitieu
28                   Radhi Knapp
29       Franck Olivier Kouagnia
30            Sebastien Lapointe
31          Islam Luiz de Toledo
32                Bernhard Maerz
33                   Ali Mahmoud
34                    Paul Nixon
35              David John Oates
36           Rotimi Osuntola Jr.
37  Jean Emmanuel Pierre-Charles
38    Alejandro Prescott-Cornejo
39                  Euan Roberts
40            N'Kosi Kedar Salam
41                   Ethan Scott
42       Ismar Serferagic Kriese
43                 Rob Smart Jr.
44               Kevin St. Kitts
45                 Novell Thomas
46             Earl Thompson Jr.
47                   Burke Toews
48                   Konrad Tota
49                Henry Van Herk
50              Bas van Willigen
51             Samuel Willis III
52                   Gilles Ysos
53              Luka Zaharijevic

In [50]:
df = pd.concat([player_box_score_stats, manually_scraped_player], ignore_index=True)
df

,Player,Season,GP-GS,Mins,MPG,3 Pt_1,3 Pt_2,Field Goals_1,Field Goals_2,Free Throws_1,Free Throws_2,Rebounds_1,Rebounds_2,PF,AS,TO,BL,ST,Points_1,Points_2
0,Khalid Abdel-Gabar,2013-14,27-11,607.0,22.5,27-75,36.0,91-205,44.4,20-32,62.5,107.0,4.0,49.0,54.0,36.0,6.0,50.0,229.0,8.5
1,Khalid Abdel-Gabar,2014-15,30-30,905.0,30.2,53-163,32.5,146-368,39.7,43-67,64.2,115.0,3.8,47.0,100.0,60.0,3.0,41.0,388.0,12.9
2,Khalid Abdel-Gabar,Total,57-41,1512.0,26.5,80-238,33.6,237-573,41.4,63-99,63.6,222.0,3.9,96.0,154.0,96.0,9.0,91.0,617.0,10.8
3,Jamil Abiad,2009-10,23-0,254.0,11.0,21-61,34.4,32-86,37.2,6-10,60.0,32.0,1.4,32.0,14.0,31.0,NaN,13.0,91.0,4.0
4,Jamil Abiad,2012-13,12-0,139.0,11.6,4-18,22.2,11-33,33.3,3-5,60.0,15.0,1.2,16.0,7.0,4.0,NaN,5.0,29.0,2.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3721,Henry Van Herk,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3722,Bas van Willigen,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3723,Samuel Willis III,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3724,Gilles Ysos,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3725,Luka Zaharijevic,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [51]:
usports_to_pro_summary = pd.read_excel("data/usports_players_to_pro_summary.xlsx")

# Merge with usports_to_pro_summary
df = df.merge(
    usports_to_pro_summary[["Player", "Position", "Hometown", "U Sports Team"]],
    on="Player",
    how="left"
)

cols = (
    ["Player", "Position", "Hometown", "U Sports Team"]
    + [c for c in df.columns if c not in ["Player", "Position", "Hometown", "U Sports Team"]]
)

df = df[cols]
df

,Player,Position,Hometown,U Sports Team,Season,GP-GS,Mins,MPG,3 Pt_1,3 Pt_2,...,Free Throws_2,Rebounds_1,Rebounds_2,PF,AS,TO,BL,ST,Points_1,Points_2
0,Khalid Abdel-Gabar,Guard 6-2,"Mississauga, ON",Windsor,2013-14,27-11,607.0,22.5,27-75,36.0,...,62.5,107.0,4.0,49.0,54.0,36.0,6.0,50.0,229.0,8.5
1,Khalid Abdel-Gabar,Guard 6-2,"Mississauga, ON",Windsor,2014-15,30-30,905.0,30.2,53-163,32.5,...,64.2,115.0,3.8,47.0,100.0,60.0,3.0,41.0,388.0,12.9
2,Khalid Abdel-Gabar,Guard 6-2,"Mississauga, ON",Windsor,Total,57-41,1512.0,26.5,80-238,33.6,...,63.6,222.0,3.9,96.0,154.0,96.0,9.0,91.0,617.0,10.8
3,Jamil Abiad,Guard 5-11,"Ottawa, ON",Bishop's,2009-10,23-0,254.0,11.0,21-61,34.4,...,60.0,32.0,1.4,32.0,14.0,31.0,NaN,13.0,91.0,4.0
4,Jamil Abiad,Guard 5-11,"Ottawa, ON",Bishop's,2012-13,12-0,139.0,11.6,4-18,22.2,...,60.0,15.0,1.2,16.0,7.0,4.0,NaN,5.0,29.0,2.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3729,Henry Van Herk,Forward 6-9,"Toronto, ON",Queen's,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3730,Bas van Willigen,Forward 6-7,Netherlands,UCCB,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3731,Samuel Willis III,Guard 6-1,"Minneapolis, MN",Mount Royal,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3732,Gilles Ysos,Guard 6-1,"Agen, France",UQAM,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3733,Luka Zaharijevic,Forward 6-8,"Vancouver, BC",UBC,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [52]:
# Drop Unnecessary Columns
df = df.drop(columns=["Mins", "Rebounds_1", "Points_1"])
df

,Player,Position,Hometown,U Sports Team,Season,GP-GS,MPG,3 Pt_1,3 Pt_2,Field Goals_1,Field Goals_2,Free Throws_1,Free Throws_2,Rebounds_2,PF,AS,TO,BL,ST,Points_2
0,Khalid Abdel-Gabar,Guard 6-2,"Mississauga, ON",Windsor,2013-14,27-11,22.5,27-75,36.0,91-205,44.4,20-32,62.5,4.0,49.0,54.0,36.0,6.0,50.0,8.5
1,Khalid Abdel-Gabar,Guard 6-2,"Mississauga, ON",Windsor,2014-15,30-30,30.2,53-163,32.5,146-368,39.7,43-67,64.2,3.8,47.0,100.0,60.0,3.0,41.0,12.9
2,Khalid Abdel-Gabar,Guard 6-2,"Mississauga, ON",Windsor,Total,57-41,26.5,80-238,33.6,237-573,41.4,63-99,63.6,3.9,96.0,154.0,96.0,9.0,91.0,10.8
3,Jamil Abiad,Guard 5-11,"Ottawa, ON",Bishop's,2009-10,23-0,11.0,21-61,34.4,32-86,37.2,6-10,60.0,1.4,32.0,14.0,31.0,NaN,13.0,4.0
4,Jamil Abiad,Guard 5-11,"Ottawa, ON",Bishop's,2012-13,12-0,11.6,4-18,22.2,11-33,33.3,3-5,60.0,1.2,16.0,7.0,4.0,NaN,5.0,2.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3729,Henry Van Herk,Forward 6-9,"Toronto, ON",Queen's,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3730,Bas van Willigen,Forward 6-7,Netherlands,UCCB,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3731,Samuel Willis III,Guard 6-1,"Minneapolis, MN",Mount Royal,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3732,Gilles Ysos,Guard 6-1,"Agen, France",UQAM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3733,Luka Zaharijevic,Forward 6-8,"Vancouver, BC",UBC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [53]:
# Split Position into Position and Height
split_cols = df["Position"].str.split(" ", n=2, expand=True)
pos_map = {"Guard": "G", "Forward": "F", "Centre": "C", "Wing": "G/F", "Guard/Wing": "G/F", "Ailier": "SF", "Arriere": "SG", "Meneur": "PG", "Centre/Forward": "C/F", "Garde": "G", "Guard-Forward": "G/F", "Guard/Forward": "G/F", "Post": "F/C", "Point Guard": "PG"}

def map_position(row):
    # try two-word combo
    if pd.notna(row[1]):
        two_word = f"{row[0]} {row[1]}"
        if two_word in pos_map:
            return pos_map[two_word], row[2]  # use 3rd column as height
    # otherwise, use single-word
    return pos_map.get(row[0], row[0]), row[1]

df[["Position", "Height"]] = split_cols.apply(map_position, axis=1, result_type="expand")
cols = list(df.columns)
pos_idx = cols.index("Position")
cols.remove("Height")
cols.insert(pos_idx + 1, "Height")

# reorder dataframe
df = df[cols]
df

,Player,Position,Height,Hometown,U Sports Team,Season,GP-GS,MPG,3 Pt_1,3 Pt_2,...,Field Goals_2,Free Throws_1,Free Throws_2,Rebounds_2,PF,AS,TO,BL,ST,Points_2
0,Khalid Abdel-Gabar,G,6-2,"Mississauga, ON",Windsor,2013-14,27-11,22.5,27-75,36.0,...,44.4,20-32,62.5,4.0,49.0,54.0,36.0,6.0,50.0,8.5
1,Khalid Abdel-Gabar,G,6-2,"Mississauga, ON",Windsor,2014-15,30-30,30.2,53-163,32.5,...,39.7,43-67,64.2,3.8,47.0,100.0,60.0,3.0,41.0,12.9
2,Khalid Abdel-Gabar,G,6-2,"Mississauga, ON",Windsor,Total,57-41,26.5,80-238,33.6,...,41.4,63-99,63.6,3.9,96.0,154.0,96.0,9.0,91.0,10.8
3,Jamil Abiad,G,5-11,"Ottawa, ON",Bishop's,2009-10,23-0,11.0,21-61,34.4,...,37.2,6-10,60.0,1.4,32.0,14.0,31.0,NaN,13.0,4.0
4,Jamil Abiad,G,5-11,"Ottawa, ON",Bishop's,2012-13,12-0,11.6,4-18,22.2,...,33.3,3-5,60.0,1.2,16.0,7.0,4.0,NaN,5.0,2.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3729,Henry Van Herk,F,6-9,"Toronto, ON",Queen's,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3730,Bas van Willigen,F,6-7,Netherlands,UCCB,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3731,Samuel Willis III,G,6-1,"Minneapolis, MN",Mount Royal,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3732,Gilles Ysos,G,6-1,"Agen, France",UQAM,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3733,Luka Zaharijevic,F,6-8,"Vancouver, BC",UBC,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [54]:
# Split GP-GS column
split_cols = df["GP-GS"].str.split("-", n=1, expand=True)
gp_gs_index = df.columns.get_loc("GP-GS")
df.insert(gp_gs_index + 1, "GP", pd.to_numeric(split_cols[0], errors="coerce").astype("Int64"))
df.insert(gp_gs_index + 2, "GS", pd.to_numeric(split_cols[1], errors="coerce").astype("Int64"))
df = df.drop(columns=["GP-GS"])
df

,Player,Position,Height,Hometown,U Sports Team,Season,GP,GS,MPG,3 Pt_1,...,Field Goals_2,Free Throws_1,Free Throws_2,Rebounds_2,PF,AS,TO,BL,ST,Points_2
0,Khalid Abdel-Gabar,G,6-2,"Mississauga, ON",Windsor,2013-14,27,11,22.5,27-75,...,44.4,20-32,62.5,4.0,49.0,54.0,36.0,6.0,50.0,8.5
1,Khalid Abdel-Gabar,G,6-2,"Mississauga, ON",Windsor,2014-15,30,30,30.2,53-163,...,39.7,43-67,64.2,3.8,47.0,100.0,60.0,3.0,41.0,12.9
2,Khalid Abdel-Gabar,G,6-2,"Mississauga, ON",Windsor,Total,57,41,26.5,80-238,...,41.4,63-99,63.6,3.9,96.0,154.0,96.0,9.0,91.0,10.8
3,Jamil Abiad,G,5-11,"Ottawa, ON",Bishop's,2009-10,23,0,11.0,21-61,...,37.2,6-10,60.0,1.4,32.0,14.0,31.0,NaN,13.0,4.0
4,Jamil Abiad,G,5-11,"Ottawa, ON",Bishop's,2012-13,12,0,11.6,4-18,...,33.3,3-5,60.0,1.2,16.0,7.0,4.0,NaN,5.0,2.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3729,Henry Van Herk,F,6-9,"Toronto, ON",Queen's,NaN,<NA>,<NA>,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3730,Bas van Willigen,F,6-7,Netherlands,UCCB,NaN,<NA>,<NA>,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3731,Samuel Willis III,G,6-1,"Minneapolis, MN",Mount Royal,NaN,<NA>,<NA>,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3732,Gilles Ysos,G,6-1,"Agen, France",UQAM,NaN,<NA>,<NA>,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3733,Luka Zaharijevic,F,6-8,"Vancouver, BC",UBC,NaN,<NA>,<NA>,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [55]:
# Split 3PT column
split_cols = df["3 Pt_1"].str.split("-", n=1, expand=True)
index = df.columns.get_loc("3 Pt_1")
df.insert(index + 1, "3PM", pd.to_numeric(split_cols[0], errors="coerce").astype("Int64"))
df.insert(index + 2, "3PA", pd.to_numeric(split_cols[1], errors="coerce").astype("Int64"))
df = df.drop(columns=["3 Pt_1"])

# Rename 3PT% Column
df = df.rename(columns={"3 Pt_2": "3P%"})
df["3P%"] = df["3P%"].astype(float)
df

,Player,Position,Height,Hometown,U Sports Team,Season,GP,GS,MPG,3PM,...,Field Goals_2,Free Throws_1,Free Throws_2,Rebounds_2,PF,AS,TO,BL,ST,Points_2
0,Khalid Abdel-Gabar,G,6-2,"Mississauga, ON",Windsor,2013-14,27,11,22.5,27,...,44.4,20-32,62.5,4.0,49.0,54.0,36.0,6.0,50.0,8.5
1,Khalid Abdel-Gabar,G,6-2,"Mississauga, ON",Windsor,2014-15,30,30,30.2,53,...,39.7,43-67,64.2,3.8,47.0,100.0,60.0,3.0,41.0,12.9
2,Khalid Abdel-Gabar,G,6-2,"Mississauga, ON",Windsor,Total,57,41,26.5,80,...,41.4,63-99,63.6,3.9,96.0,154.0,96.0,9.0,91.0,10.8
3,Jamil Abiad,G,5-11,"Ottawa, ON",Bishop's,2009-10,23,0,11.0,21,...,37.2,6-10,60.0,1.4,32.0,14.0,31.0,NaN,13.0,4.0
4,Jamil Abiad,G,5-11,"Ottawa, ON",Bishop's,2012-13,12,0,11.6,4,...,33.3,3-5,60.0,1.2,16.0,7.0,4.0,NaN,5.0,2.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3729,Henry Van Herk,F,6-9,"Toronto, ON",Queen's,NaN,<NA>,<NA>,NaN,<NA>,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3730,Bas van Willigen,F,6-7,Netherlands,UCCB,NaN,<NA>,<NA>,NaN,<NA>,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3731,Samuel Willis III,G,6-1,"Minneapolis, MN",Mount Royal,NaN,<NA>,<NA>,NaN,<NA>,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3732,Gilles Ysos,G,6-1,"Agen, France",UQAM,NaN,<NA>,<NA>,NaN,<NA>,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3733,Luka Zaharijevic,F,6-8,"Vancouver, BC",UBC,NaN,<NA>,<NA>,NaN,<NA>,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [56]:
# Split Field Goals column
split_cols = df["Field Goals_1"].str.split("-", n=1, expand=True)
index = df.columns.get_loc("Field Goals_1")
df.insert(index + 1, "FGM", pd.to_numeric(split_cols[0], errors="coerce").astype("Int64"))
df.insert(index + 2, "FGA", pd.to_numeric(split_cols[1], errors="coerce").astype("Int64"))
df = df.drop(columns=["Field Goals_1"])

# Rename FG% Column
df = df.rename(columns={"Field Goals_2": "FG%"})
df["FG%"] = df["FG%"].astype(float)
df[["Player", "FGM", "FGA", "FG%"]].head(20)

                Player  FGM  FGA   FG%
0   Khalid Abdel-Gabar   91  205  44.4
1   Khalid Abdel-Gabar  146  368  39.7
2   Khalid Abdel-Gabar  237  573  41.4
3          Jamil Abiad   32   86  37.2
4          Jamil Abiad   11   33  33.3
5          Jamil Abiad   28   73  38.4
6          Jamil Abiad   71  192  37.0
7   Michael Acheampong  109  249  43.8
8   Michael Acheampong  117  316  37.0
9   Michael Acheampong  226  565  40.0
10     Daniel Adediran   14   29  48.3
11     Daniel Adediran   74  143  51.7
12     Daniel Adediran   50   78  64.1
13     Daniel Adediran   69  137  50.4
14     Daniel Adediran    0    0   0.0
15     Daniel Adediran  207  387  53.5
16         Bruce Adjei    9   15  60.0
17          Seth Adler   81  213  38.0
18          Seth Adler   81  200  40.5
19          Seth Adler   98  223  43.9

In [57]:
# Split Field Throw column
split_cols = df["Free Throws_1"].str.split("-", n=1, expand=True)
index = df.columns.get_loc("Free Throws_1")
df.insert(index + 1, "FTM", pd.to_numeric(split_cols[0], errors="coerce").astype("Int64"))
df.insert(index + 2, "FTA", pd.to_numeric(split_cols[1], errors="coerce").astype("Int64"))
df = df.drop(columns=["Free Throws_1"])

# Rename FT% Column
df = df.rename(columns={"Free Throws_2": "FT%"})
df["FT%"] = df["FT%"].astype(float)
df[["Player", "FTM", "FTA", "FT%"]].head(20)

                Player  FTM  FTA   FT%
0   Khalid Abdel-Gabar   20   32  62.5
1   Khalid Abdel-Gabar   43   67  64.2
2   Khalid Abdel-Gabar   63   99  63.6
3          Jamil Abiad    6   10  60.0
4          Jamil Abiad    3    5  60.0
5          Jamil Abiad    1    2  50.0
6          Jamil Abiad   10   17  58.8
7   Michael Acheampong   42   63  66.7
8   Michael Acheampong   86  109  78.9
9   Michael Acheampong  128  172  74.4
10     Daniel Adediran    4    7  57.1
11     Daniel Adediran   33   47  70.2
12     Daniel Adediran   22   33  66.7
13     Daniel Adediran   27   45  60.0
14     Daniel Adediran    0    0   0.0
15     Daniel Adediran   86  132  65.2
16         Bruce Adjei    7   15  46.7
17          Seth Adler   73   96  76.0
18          Seth Adler   55   75  73.3
19          Seth Adler   62   83  74.7

In [58]:
# Rename Columns
df = df.rename(columns={"Rebounds_2": "REB", "Points_2": "PPG", "AS": "AST", "TO": "TOV", "BL": "BLK", "ST": "STL"})
df

,Player,Position,Height,Hometown,U Sports Team,Season,GP,GS,MPG,3PM,...,FTM,FTA,FT%,REB,PF,AST,TOV,BLK,STL,PPG
0,Khalid Abdel-Gabar,G,6-2,"Mississauga, ON",Windsor,2013-14,27,11,22.5,27,...,20,32,62.5,4.0,49.0,54.0,36.0,6.0,50.0,8.5
1,Khalid Abdel-Gabar,G,6-2,"Mississauga, ON",Windsor,2014-15,30,30,30.2,53,...,43,67,64.2,3.8,47.0,100.0,60.0,3.0,41.0,12.9
2,Khalid Abdel-Gabar,G,6-2,"Mississauga, ON",Windsor,Total,57,41,26.5,80,...,63,99,63.6,3.9,96.0,154.0,96.0,9.0,91.0,10.8
3,Jamil Abiad,G,5-11,"Ottawa, ON",Bishop's,2009-10,23,0,11.0,21,...,6,10,60.0,1.4,32.0,14.0,31.0,NaN,13.0,4.0
4,Jamil Abiad,G,5-11,"Ottawa, ON",Bishop's,2012-13,12,0,11.6,4,...,3,5,60.0,1.2,16.0,7.0,4.0,NaN,5.0,2.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3729,Henry Van Herk,F,6-9,"Toronto, ON",Queen's,NaN,<NA>,<NA>,NaN,<NA>,...,<NA>,<NA>,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3730,Bas van Willigen,F,6-7,Netherlands,UCCB,NaN,<NA>,<NA>,NaN,<NA>,...,<NA>,<NA>,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3731,Samuel Willis III,G,6-1,"Minneapolis, MN",Mount Royal,NaN,<NA>,<NA>,NaN,<NA>,...,<NA>,<NA>,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3732,Gilles Ysos,G,6-1,"Agen, France",UQAM,NaN,<NA>,<NA>,NaN,<NA>,...,<NA>,<NA>,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3733,Luka Zaharijevic,F,6-8,"Vancouver, BC",UBC,NaN,<NA>,<NA>,NaN,<NA>,...,<NA>,<NA>,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [59]:
# Calculating per game stats
df["PF"] = (df["PF"] / df["GP"]).round(1)
df["AST"] = (df["AST"] / df["GP"]).round(1)
df["TOV"] = (df["TOV"] / df["GP"]).round(1)
df["BLK"] = (df["BLK"] / df["GP"]).round(1)
df["STL"] = (df["STL"] / df["GP"]).round(1)
df

,Player,Position,Height,Hometown,U Sports Team,Season,GP,GS,MPG,3PM,...,FTM,FTA,FT%,REB,PF,AST,TOV,BLK,STL,PPG
0,Khalid Abdel-Gabar,G,6-2,"Mississauga, ON",Windsor,2013-14,27,11,22.5,27,...,20,32,62.5,4.0,1.8,2.0,1.3,0.2,1.9,8.5
1,Khalid Abdel-Gabar,G,6-2,"Mississauga, ON",Windsor,2014-15,30,30,30.2,53,...,43,67,64.2,3.8,1.6,3.3,2.0,0.1,1.4,12.9
2,Khalid Abdel-Gabar,G,6-2,"Mississauga, ON",Windsor,Total,57,41,26.5,80,...,63,99,63.6,3.9,1.7,2.7,1.7,0.2,1.6,10.8
3,Jamil Abiad,G,5-11,"Ottawa, ON",Bishop's,2009-10,23,0,11.0,21,...,6,10,60.0,1.4,1.4,0.6,1.3,<NA>,0.6,4.0
4,Jamil Abiad,G,5-11,"Ottawa, ON",Bishop's,2012-13,12,0,11.6,4,...,3,5,60.0,1.2,1.3,0.6,0.3,<NA>,0.4,2.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3729,Henry Van Herk,F,6-9,"Toronto, ON",Queen's,NaN,<NA>,<NA>,NaN,<NA>,...,<NA>,<NA>,NaN,NaN,<NA>,<NA>,<NA>,<NA>,<NA>,NaN
3730,Bas van Willigen,F,6-7,Netherlands,UCCB,NaN,<NA>,<NA>,NaN,<NA>,...,<NA>,<NA>,NaN,NaN,<NA>,<NA>,<NA>,<NA>,<NA>,NaN
3731,Samuel Willis III,G,6-1,"Minneapolis, MN",Mount Royal,NaN,<NA>,<NA>,NaN,<NA>,...,<NA>,<NA>,NaN,NaN,<NA>,<NA>,<NA>,<NA>,<NA>,NaN
3732,Gilles Ysos,G,6-1,"Agen, France",UQAM,NaN,<NA>,<NA>,NaN,<NA>,...,<NA>,<NA>,NaN,NaN,<NA>,<NA>,<NA>,<NA>,<NA>,NaN
3733,Luka Zaharijevic,F,6-8,"Vancouver, BC",UBC,NaN,<NA>,<NA>,NaN,<NA>,...,<NA>,<NA>,NaN,NaN,<NA>,<NA>,<NA>,<NA>,<NA>,NaN

In [60]:
df.to_excel("data/cleaned_usports_player_box_score_stats.xlsx", index=False, engine="openpyxl")

In [61]:
# Load career data for merging with cleaned stats
career_df = pd.read_excel("data/existing_data/usports_career_data.xlsx")
career_df.head()

FileNotFoundError: [Errno 2] No such file or directory: 'data/existing_data/usports_career_data.xlsx'

In [ ]:
def merge_career_with_stats(career_df, stats_df):
    """Merge career data with USports stats based on season and player."""
    if career_df.empty or stats_df.empty:
        print("Cannot merge: one or both dataframes are empty")
        return pd.DataFrame()
    
    # Merge on Player and Season columns
    try:
        # Ensure Season column exists in stats_df
        if "Season" not in stats_df.columns:
            print("Warning: Season column not found in stats data. Cannot merge.")
            return stats_df
        
        career_df["Team"] = career_df["Team"].str.replace("MBB-", "", regex=True)
            
        merged_df = pd.merge(stats_df, career_df[["Player", "Season", "Team"]], 
                            on=["Player", "Season"], 
                            how="left")
        print(f"Successfully merged career and stats data. Result has {len(merged_df)} rows.")
        return merged_df
        
    except Exception as e:
        print(f"Error merging career and stats data: {e}")
        return stats_df

# Merge career data with cleaned stats
print("Merging career data with cleaned stats...")
merged_df = merge_career_with_stats(career_df, df)
merged_df.head()

Merging career data with cleaned stats...
Successfully merged career and stats data. Result has 3746 rows.

,Player,Position,Height,Hometown,U Sports Team,Season,GP,GS,MPG,3PM,...,FTA,FT%,REB,PF,AST,TOV,BLK,STL,PPG,Team
0,Khalid Abdel-Gabar,G,6-2,"Mississauga, ON",Windsor,2013-14,27,11,22.5,27,...,32,62.5,4.0,1.8,2.0,1.3,0.2,1.9,8.5,Windsor
1,Khalid Abdel-Gabar,G,6-2,"Mississauga, ON",Windsor,2014-15,30,30,30.2,53,...,67,64.2,3.8,1.6,3.3,2.0,0.1,1.4,12.9,Windsor
2,Khalid Abdel-Gabar,G,6-2,"Mississauga, ON",Windsor,Total,57,41,26.5,80,...,99,63.6,3.9,1.7,2.7,1.7,0.2,1.6,10.8,NaN
3,Jamil Abiad,G,5-11,"Ottawa, ON",Bishop's,2009-10,23,0,11.0,21,...,10,60.0,1.4,1.4,0.6,1.3,<NA>,0.6,4.0,Bishop's
4,Jamil Abiad,G,5-11,"Ottawa, ON",Bishop's,2012-13,12,0,11.6,4,...,5,60.0,1.2,1.3,0.6,0.3,<NA>,0.4,2.4,Bishop's

In [ ]:
def validate_player_counts(usports_stats_with_teams_df, pro_season_data_df):
    """Validate that the number of unique players in both datasets is equal."""
    if usports_stats_with_teams_df.empty or pro_season_data_df.empty:
        print("Warning: Cannot validate player counts - one or both datasets are empty")
        return False
    
    # Get unique player counts from both datasets
    usports_unique_players = usports_stats_with_teams_df['Player'].nunique()
    pro_unique_players = pro_season_data_df['Player'].nunique()
    
    print(f"Unique players in usports_stats_with_teams: {usports_unique_players}")
    print(f"Unique players in pro_season_data: {pro_unique_players}")
    
    if usports_unique_players == pro_unique_players:
        print("âœ“ VALIDATION PASSED: Player counts match!")
        return True
    else:
        print("âœ— VALIDATION FAILED: Player counts do not match!")
        
        # Show which players are missing from each dataset
        usports_players = set(usports_stats_with_teams_df['Player'].unique())
        pro_players = set(pro_season_data_df['Player'].unique())
        
        missing_from_usports = pro_players - usports_players
        missing_from_pro = usports_players - pro_players
        
        if missing_from_usports:
            print(f"Players in pro_season_data but not in usports_stats_with_teams: {missing_from_usports}")
        if missing_from_pro:
            print(f"Players in usports_stats_with_teams but not in pro_season_data: {missing_from_pro}")
        
        return False

# Load pro season data for validation
try:
    pro_seasons_df = pd.read_excel("data/pro_season_data.xlsx")
    print("Validating player counts...")
    validate_player_counts(merged_df, pro_seasons_df)
except FileNotFoundError:
    print("Pro season data file not found. Skipping validation.")
except Exception as e:
    print(f"Error loading pro season data: {e}")

Validating player counts...
Unique players in usports_stats_with_teams: 953
Unique players in pro_season_data: 953
âœ“ VALIDATION PASSED: Player counts match!

In [ ]:
# Rename columns as requested
merged_df = merged_df.rename(columns={
    "U Sports Team": "All USports Teams Played For",
    "Team": "USports Team"
})

# Reorder columns to move USports Team to the right of Hometown
cols = list(merged_df.columns)
hometown_idx = cols.index("Hometown")
usports_team_idx = cols.index("USports Team")

# Remove USports Team from its current position
cols.remove("USports Team")
# Insert it right after Hometown
cols.insert(hometown_idx + 1, "USports Team")

# Reorder the dataframe
merged_df = merged_df[cols]

# Save the final merged dataset
if not merged_df.empty:
    merged_df.to_excel("data/usports_stats_with_teams.xlsx", index=False, engine="openpyxl")
    print("Final merged dataset saved to data/usports_stats_with_teams.xlsx")
    print(f"Dataset contains {len(merged_df)} rows and {len(merged_df.columns)} columns")
    print(f"Unique players: {merged_df['Player'].nunique()}")
    print(f"Column order: {list(merged_df.columns[:8])}")  # Show first 8 columns to verify order
else:
    print("Merged dataframe is empty - not saving")

Final merged dataset saved to data/usports_stats_with_teams.xlsx
Dataset contains 3746 rows and 26 columns
Unique players: 953
Column order: ['Player', 'Position', 'Height', 'Hometown', 'USports Team', 'USports Teams Played For', 'Season', 'GP']

In [ ]:
# Create analysis of average stats by number of USports seasons played
def create_pro_transition_analysis(usports_df):
    """
    Create a dataframe showing average stats of players who went pro,
    grouped by the number of USports seasons they played.
    """
    
    # Filter out 'Total' rows - we only want individual seasons
    usports_seasons_only = usports_df[usports_df['Season'] != 'Total'].copy()
    
    # For each player, count how many seasons they played and get their average stats
    player_analysis = []
    
    for player in usports_seasons_only['Player'].unique():
        player_data = usports_seasons_only[usports_seasons_only['Player'] == player]
        num_seasons = len(player_data)
        
        # Calculate average stats across all seasons for this player
        numeric_cols = ['MPG', '3PM', '3PA', '3P%', 'FGM', 'FGA', 'FG%', 'FTM', 'FTA', 'FT%', 
                       'REB', 'PF', 'AST', 'TOV', 'BLK', 'STL', 'PPG']
        
        player_avg_stats = {}
        player_avg_stats['Player'] = player
        player_avg_stats['Num_USports_Seasons'] = num_seasons
        
        for col in numeric_cols:
            if col in player_data.columns:
                avg_val = player_data[col].mean()
                player_avg_stats[f'Avg_{col}'] = avg_val
        
        player_analysis.append(player_avg_stats)
    
    player_stats_df = pd.DataFrame(player_analysis)
    
    # Group by number of seasons and calculate overall averages
    season_groups = player_stats_df.groupby('Num_USports_Seasons')
    
    # Calculate averages for each group
    avg_stats_by_seasons = []
    
    for num_seasons, group in season_groups:
        stats_summary = {'Num_USports_Seasons': num_seasons, 'Player_Count': len(group)}
        
        for col in player_stats_df.columns:
            if col.startswith('Avg_'):
                stat_name = col.replace('Avg_', '')
                avg_value = group[col].mean()
                stats_summary[stat_name] = round(avg_value, 1)
        
        avg_stats_by_seasons.append(stats_summary)
    
    pro_transition_stats = pd.DataFrame(avg_stats_by_seasons)
    pro_transition_stats = pro_transition_stats.sort_values('Num_USports_Seasons')
    
    print(f"Analysis complete:")
    print(f"Total unique players: {len(player_stats_df)}")
    print(f"Season ranges: {pro_transition_stats['Num_USports_Seasons'].min()} to {pro_transition_stats['Num_USports_Seasons'].max()} seasons")
    
    return pro_transition_stats

# Run the analysis
pro_transition_stats_df = create_pro_transition_analysis(merged_df)
pro_transition_stats_df

Analysis complete:
Total unique players: 953
Season ranges: 1 to 24 seasons

,Num_USports_Seasons,Player_Count,MPG,3PM,3PA,3P%,FGM,FGA,FG%,FTM,FTA,FT%,REB,PF,AST,TOV,BLK,STL,PPG
0,1,224,12.8,12.6,36.0,22.3,59.7,131.5,39.2,30.4,40.8,58.0,3.5,1.8,1.3,1.5,0.5,0.7,7.9
1,2,158,18.7,20.6,59.3,26.1,85.6,185.4,42.6,45.0,62.1,61.1,4.1,2.0,1.8,1.9,0.4,1.0,10.4
2,3,146,19.9,21.3,61.3,28.8,92.5,203.4,43.7,50.2,69.8,66.4,4.4,2.1,1.8,2.0,0.4,1.0,10.8
3,4,122,19.9,24.4,70.8,28.8,94.4,209.9,43.7,51.5,71.8,67.8,4.5,2.0,2.1,2.0,0.4,1.1,11.2
4,5,288,19.3,22.3,62.7,27.8,97.8,211.7,45.8,53.3,74.1,68.9,4.7,inf,1.9,1.9,0.4,1.0,11.4
5,6,14,23.5,24.3,70.5,27.9,101.1,217.2,43.8,54.6,74.3,71.0,4.5,2.3,1.9,1.9,0.4,1.1,11.4
6,24,1,24.8,0.3,2.3,5.6,110.0,219.7,49.9,62.0,114.3,53.8,7.0,3.0,1.6,1.7,1.2,0.6,7.9

In [ ]:
# Export the pro transition analysis to its own Excel file
pro_transition_stats_df.to_excel("data/pro_transition_stats_by_seasons.xlsx", index=False, engine="openpyxl")
print("Pro transition analysis exported to data/pro_transition_stats_by_seasons.xlsx")
print(f"Dataset contains {len(pro_transition_stats_df)} rows (different season counts)")
print("\nSample of the analysis:")
print(pro_transition_stats_df.head())

Pro transition analysis exported to data/pro_transition_stats_by_seasons.xlsx
Dataset contains 7 rows (different season counts)

Sample of the analysis:
   Num_USports_Seasons  Player_Count   MPG   3PM   3PA   3P%   FGM    FGA  \
0                    1           224  12.8  12.6  36.0  22.3  59.7  131.5
1                    2           158  18.7  20.6  59.3  26.1  85.6  185.4
2                    3           146  19.9  21.3  61.3  28.8  92.5  203.4
3                    4           122  19.9  24.4  70.8  28.8  94.4  209.9
4                    5           288  19.3  22.3  62.7  27.8  97.8  211.7

    FG%   FTM   FTA   FT%  REB   PF  AST  TOV  BLK  STL   PPG
0  39.2  30.4  40.8  58.0  3.5  1.8  1.3  1.5  0.5  0.7   7.9
1  42.6  45.0  62.1  61.1  4.1  2.0  1.8  1.9  0.4  1.0  10.4
2  43.7  50.2  69.8  66.4  4.4  2.1  1.8  2.0  0.4  1.0  10.8
3  43.7  51.5  71.8  67.8  4.5  2.0  2.1  2.0  0.4  1.1  11.2
4  45.8  53.3  74.1  68.9  4.7  inf  1.9  1.9  0.4  1.0  11.4